@import "./sass/variables.scss";

.color-primary {
  fill: $color-primary;
  color: $color-primary;
}

a:hover {
  text-decoration: none;
}

a {
  color: $color-primary;
}

@import "./sass/logform";

.dropshadow {
  filter: drop-shadow(3px 3px 3px #aaaaaa);
}

.dropshadow-sm {
  filter: drop-shadow(3px 3px 3px #cecece);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav {
  font-size: 0.8em;
}

a:hover,
input[type="submit"]:hover {
  transform: scale(1.07);
  transition: transform 200ms ease-in-out;
}
