body {
  font-size: 16px;
  margin: 0 0 50px;
}

@import "./sass/variables.scss";

.color-primary {
  fill: $color-primary;
  color: $color-primary;
}

a:hover {
  text-decoration: none;
}

a {
  color: $color-primary;
}

@import "./sass/logform";

.dropshadow {
  filter: drop-shadow(3px 3px 3px #aaaaaa);
}

.shadow-top {
  filter: drop-shadow(3px 1px 3px #cecece);
}

.dropshadow-sm {
  filter: drop-shadow(3px 3px 3px #cecece);
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sticky {
  &-topp {
    position: sticky;
    top: -4px;
    z-index: 100;
  }
  &-bottom {
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    height: 50px;
    width: 100%;
  }
}

.nav {
  font-size: 0.8rem;
}

a:hover,
input[type="submit"]:hover {
  transform: scale(1.07);
  transition: transform 200ms ease-in-out;
}
