#newpostform {
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: lighten($color: $color-primary, $amount: 10%);
  }

  input[type="button"]:active,
  input[type="submit"]:active,
  input[type="reset"]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 1rem;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    background-color: #fff;
    border-bottom: 2px solid lighten($color: $color-primary, $amount: 30);
  }

  ::placeholder {
    color: #cccccc;
    font-size: 0.8rem;
  }
}
