.post-pic {
  font-size: 1.6rem;
  color: $color-primary;
  padding: 0;
  margin: 0;
}

.post-username {
  font-size: 1rem;
  font-weight: bold;
}

.post-createdat {
  font-size: 0.7rem;
}

.gedf-card {
  padding: 0;
}

#dropdownmenu {
  color: $color-primary;
  &:hover {
    color: darken($color: $color-primary, $amount: 10);
  }
}

.card {
  overflow: auto;
}

.btn-com {
  background-color: $color-primary;
  color: white;
  &:hover {
    color: white;
    background-color: darken($color: $color-primary, $amount: 10);
  }
}

#com-username {
  font-size: 1rem;
  padding-bottom: 1px;
  margin: 0;
}

#banner {
  position: relative;
  height: 100px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/162543800_3708347075885326_3400772194433111627_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=yTR7VmtfNf8AX9t6EZi&_nc_ht=scontent-cdg2-1.xx&oh=049e982949094bf21728815c3bf9bd05&oe=6079C0C8)
      no-repeat fixed;
    background-size: 100%;
    opacity: 0.7;
  }
  & h1 {
    color: white;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
  }
}

.com-content {
  font-size: 1rem;
  padding: 1px;
}

.postlink {
  color: black;
  &:hover,
  &:visited {
    color: black;
  }
}
