#header-ul li {
  font-size: 1.2rem;
  color: $color-primary;
  &:hover {
    transform: scale(1.09);
    transition: transform 200ms ease-in-out;
  }
  &.text-muted {
    &:hover {
      transform: scale(1);
      transition: none;
    }

    i {
      cursor: default;
      &:hover {
        transform: scale(1);
        transition: none;
        color: #6c757d;
      }
    }
  }
}

a,
.bi-person-circle,
.bi-pencil-square {
  cursor: pointer;
  &:hover {
    transform: scale(1);
    transition: none;
    color: darken($color: $color-primary, $amount: 10);
  }
}
