.com-createdat {
  font-size: 0.7rem;
}

.removeCom {
  color: $color-primary;
  position: absolute;
  right: 6%;
  cursor: pointer;
}
#bannertext {
  & a {
    font-weight: bold;
    color: $color-primary;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
}
