.profile-pic {
  font-size: 6rem;
  color: $color-primary;
  cursor: default;
}

.profile-createdat {
  font-size: 1rem;
}

#profileform {
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: lighten($color: $color-primary, $amount: 10%);
  }

  input[type="button"]:active,
  input[type="submit"]:active,
  input[type="reset"]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    background-color: #fff;
    border-bottom: 2px solid lighten($color: $color-primary, $amount: 30%);
    &:invalid {
      box-shadow: 0 0 5px 1px red;
    }
    &:valid {
      box-shadow: 0 0 5px 1px rgb(101, 159, 224);
    }
    &.invalid {
      box-shadow: 0 0 5px 1px red;
    }
  }

  input[type="text"]:read-only:focus,
  input[type="email"]:read-only:focus,
  input[type="password"]:read-only:focus {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
  }
  input[type="text"]:read-only,
  input[type="email"]:read-only,
  input[type="password"]:read-only {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    text-align: left;
  }

  input[type="text"]:placeholder,
  input[type="email"]:placeholder,
  input[type="password"]:placeholder {
    color: #cccccc;
  }

  & #password,
  & #oldpassword {
    margin-right: -30px;
  }

  & #oldpassword i {
    position: relative;
    right: 30px;
    z-index: 1000;
  }

  & i {
    position: relative;
    right: 30px;
    z-index: 1000;
    cursor: pointer;
  }
}
